<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pop Song</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>1</integer>
		<integer>4</integer>
	</array>
	<key>Rock'n'Roll</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
	</array>
	<key>Religious</key>
	<array>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>4</integer>        
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>4</integer>        
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>American Folk</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>0</integer>
	</array>
	<key>Peace Inspiration</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
	</array>
	<key>Melancholic Pop</key>
	<array>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
	</array>
	<key>Happy Love Song</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>0</integer>
	</array>
	<key>Transcendental</key>
	<array>
		<integer>0</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>0</integer>
	</array>
	<key>Ballad</key>
	<array>
		<integer>0</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
	</array>
	<key>Sad Love Song</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>4</integer>
		
	</array>
	<key>Heavy Funky</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>Energetic Rock</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>		
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>0</integer>
	</array>
	<key>Creepy</key>
	<array>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>4</integer>
	</array>
	<key>New York Big Band</key>
	<array>
		<integer>0</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>4</integer>
	</array>
</dict>
</plist>
